.button {
    min-width: 200px;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    color: $white-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
}