.card-set {
    @extend %list;
}
 
.card-set {
    
    @media screen and (min-width: $mobile){
    @include list(flex, wrap, null, null, null, null, -15px)
    }
    @media screen and (max-width: $tablet) {
        margin-top: 40px;
    }
}

.card-set__item {
    display: flex;
    flex-direction: column;
    /*width: calc((100% - 60px) / 3);*/
    @media screen and (max-width: $mobile) {
        width: 100%;
        
    }
    @media screen and(max-width: $tablet) {
        margin-bottom: 15px;
    }
    

    @media screen and (min-width: $tablet){
       
        @include item(null, null, null, null, 15px, $mobq, $gapItem);
        
    }

    @media screen and (min-width: $desktop) {
        @include item(null, null, null, null, 15px, $tabq, $gapItem);
    }
    
    transition: box-shadow 250ms $timing-function;
}

.card-set__item > .product {
    display: flex;
    height: 100%;
    flex-direction: column;
}
