.clients {
    @extend %list;

    @include list(flex, wrap, null, null, null, null, -15px);
    
    @media screen and (min-width: $desktop){
        flex-wrap:nowrap;
    }
}

.clients__item {
    @media screen and (max-width: $tablet) {
    @include item(null, null, null, null, 15px, $mobq, $gapItem);
    }
    
    @media screen and (min-width: $tablet) {
    @include item(null, null, null, null, 15px, $tabq, $gapItem);
    }
    @media screen and (min-width: $desktop) {
    @include item(null, null, null, null, 15px, $deskq, $gapItem);
        
    }
    border-radius: 4px;

}


.clients__link {
    @include transition(border-color, fill, null, $timing-function, 250ms);
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 92px;
    fill: $social-sprite-color;
    border: 1px solid $social-sprite-color;
    border-radius: 4px;
    &:hover,
    &:focus {
        outline: transparent;
        border-color: $accent-color;
        fill: $accent-color;
        }
}

