.clients {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}

.clients__item {
    width: calc((100% - 4*15px)/2);
    margin: 15px;
    border-radius: 4px;

}


.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    min-height: 92px;
    fill: $social-sprite-color;
    border: 1px solid $social-sprite-color;
    border-radius: 4px;
    transition:
        border 250ms $timing-function,
        fill 250ms $timing-function;
    &:hover,
    &:focus {
        border-color: $accent-color;
        border-radius: 4px;
        fill: $accent-color;
        }
}

