.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @extend %list;
    @media screen and (max-width:$tablet) {
        margin-top: 300px;
        margin-bottom: 60px;
}
    
}

@media screen and (min-width:$tablet) {
    .contacts-list {
        margin-left: 84px;
    }
}


/*.contacts__item+.contacts__item {
    margin-left: 50px;
}*/

.contacts__icon {
    margin-right: 11px;
   @media screen and (max-width: $tablet) {
       display: none;
   }
}

.contacts__item {
    display: flex;
    justify-content: flex-start;
    @media  screen and (min-width: $tablet) {
        &:not(:last-child){
        margin-bottom: 10px;
    }
    }   
        @media screen and (max-width: $tablet) {
            &:not(:last-child) {
        margin-bottom: 32px;
        }
    }
    
    
}

.contacts__link {
    @extend %link;
    display: inline-flex;
    color: $title-text-color;
    color: $title-text-color;
    fill: $title-text-color;
    border: none;
    transition: color 250ms $timing-function,
        fill 250ms $timing-function;
        
    &:hover,
    &:focus {
        color: $accent-color;
        fill: $accent-color;
        border: none;
        }
   @media screen and (max-width:$tablet) {
       
    &--blue {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $accent-color;
    }
    &--gray {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    }
    }
    
}

