.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

    @extend %list;
    @media screen and (max-width:$tablet) {
        margin-top: auto;
}
    @media screen and (min-width:$desktop) {
        flex-direction: row;
}
    
}

@media screen and (min-width:$tablet) {
    .contacts-list {
        margin-left: 84px;
    }
}




.contacts__icon {
    margin-right: 11px;
   @media screen and (max-width: $tablet) {
       display: none;
   }
}

.contacts__item {
    display: flex;
    @media  screen and (max-width: $desktop) {
        &:not(:last-child){
        margin-bottom: 10px;
    }
    }   
    @media screen and (max-width: $tablet) {
        &:not(:last-child) {
        margin-bottom: 32px;
    }
    }
    @media screen and (min-width:$desktop){
        &:not(:last-child) {
            margin-right: 30px;
        }
        }
    
    
    
}

.contacts__link {
    @extend %link;
    @include transition (color, fill, null, $timing-function, 250ms);
    display: inline-flex;
    align-items: center;
    color: $title-text-color;
    fill: $title-text-color;
    border: none;
    
    &:hover,
    &:focus {
        color: $accent-color;
        fill: $accent-color;
        border: none;
        }
   @media screen and (max-width:$tablet) {
    &--blue {
        @include font (34px, null, 500, 40px, .02em, $accent-color, null);
    }
    &--gray {
        @include font (24px, null, 500, 28px, .02em, $title-text-color, null);
    }
    }

    @media screen and (min-width: $tablet) {
        &--gray{
            padding-bottom: 18px;
        }
        &--blue{
            padding-top: 18px;
        }
        @include font (12px, null, 500, 14px, .02em, $title-text-color, null);
    }

    @media screen and (min-width: $desktop) {
        padding: 0;
        @include font (14px, null, 500, 16px, .02em, $title-text-color, null);
    }
   
}

