
.features {
    @media  screen and (min-width:$mobile) {
        @include list(flex, wrap, null, null, null, null, -15px);
    }    
    }
    
   
.features__item {
    @media screen and (max-width:$tablet) {
        width: 100%; 
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width:$tablet) {
        @include item(null, null, null, null, 15px, $mobq, $gapItem);
    }
   
    @media screen and (min-width:$desktop) {
        @include item(null, null, null, null, 15px, 4, $gapItem);
    }
}

.features__icon {
    width: 70px;
    height: 70px;
}

.features__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    margin-bottom: 30px;
    background-color: $secondary-background-color;
}

.features__title {
    margin-top: 0;
    margin-bottom: 10px;
    @include font (14px, null, 700, 16px, 0.03em, $primary-text-color, null);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    @media screen and (max-width: $tablet) {
        text-align: center;
    }
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;
    @include font (14px, null, null, 24px, null, $title-text-color, null);
   
}