.footer {
  
    background-color: $secondary-bg-color;
    padding-bottom: 60px;
    padding-top: 60px;
}
.foot {
    /*display: flex;
    align-items: baseline;*/
    text-align: center;
}
.foot-address {
    margin-bottom: 60px;
}