.form-foot {
    
   @media screen and (max-width:$desktop){
    display: flex;
    text-align: center;
    flex-direction: column;
   }
   
   
}

.form__wrapper {
    @media screen and (min-width: $desktop) {
        display: flex;
        
    }
}


.form-footer__field {
    padding: 12px 16px;
    margin-right: 12px;
    margin-bottom: 20px;
    min-width: 358px;
    min-height: 50px;
    @media screen and (max-width: $mobile) {
        width: 100%;
    }
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: $white-color;
    background-color: $secondary-bg-color;
        &:hover,
        &:focus {
            outline: transparent;
            border-color: $white-color;
        }
    &::placeholder {
        color: rgba(255, 255, 255, .6);
}
}



.form-footer__btn {
    @include font (16px, null, 700, 30px, null, $white-color, null);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    background-color: $accent-color;
    @include font (16px, null, 700, 30px, null, $white-color, null);
    cursor: pointer;
    transition: background-color 250ms $timing-function;
    &::after {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        background-image: url(../images/telegram.svg);
        }
}



.form-footer__img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}

.btn-wrapper {
    height: 50px;
}

