.hero {
    padding-top: 184px;
    padding-bottom: 216px;
    height: 400px;
   
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: $secondary-bg-color;
    background-image: linear-gradient(180deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0) 100%),
        url(../images/hero-bg-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.16;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}