.logo {
    @extend %link;
    @include font (24px, Raleway, 700, 28px, null, $black-color, null);
    display: inline-block;
    padding-top: 26px;
    padding-bottom: 26px;
    @media screen and (min-width: $desktop) {
    @include font (26px, Raleway, 700, 31px, null, $black-color, null);
    }
}
    

.logo__word {
    color: $accent-color;
}

.footer__logo {
    color: $white-color;
    padding: 0;
    margin-bottom: 20px;
}