.section {
    padding: 60px 0;
    
    @media screen and (min-width: $desktop) {
        padding:  94px 0;
    }
}

.section--nopadding {
    @media screen and (max-width: $desktop) {
        padding: 0;
    }
}

.section--nopadtop {
    padding-top: 0;
}

.section__title {
    @media screen and (min-width: $desktop) {
        @include font(36px, null, 700, 42px, 0.03em, null, center);
    }
    @media screen and (max-width: $desktop) {
        @include font(28px, null, 700, 33px, 0.03em, null, center);
    }
    margin-top: 0;
    margin-bottom: 30px;
    
}