.team {
    @include list(flex, wrap, null, null, null, null, -15px);
    }
.team__item {
    margin: 15px;
    @media screen and (min-width: $mobile) {
        width: 100%;
    }
    @media screen and (min-width: $mobile) {
        @include item(null, null, null, null, 15px, $mobq, $gapItem); 
    }
    @media screen and (min-width: $desktop) {
        @include item(null, null, null, null, 15px, 4, $gapItem);    
    }
    }

.section__team--bg {
    background-color: $secondary-background-color;
    
}



@media screen and (max-width:$mobile) {
.team__item:not(:last-child) {
    margin-bottom: 30px;
}
}


.team__name {
    margin-bottom: 10px;
    @include font (16px, null, 500, 19px, null, null, null);
}

.team__position {
    margin-bottom: 16px;
    @include font (16px, null, null, 19px, null, $title-text-color, null);
}

.team__block {
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $white-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}