$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$white-color: #ffffff;
$black-color: #000000;
$secondary-background-color: #f5f4fa;
$secondary-bg-color: #2f303a;
$social-sprite-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);